body {
    font-family: 'Manrope', sans-serif
  }
  
  p {
    font-size: 14px;

  }
  
  .nowtrending-text {
      font-size: 24px;
    }
    
    .nav-btn {
      background-color: transparent;
      border: none;
    }
    
    .custom-link {
      color: black;
      text-decoration: none;
    }
    
    .custom-link:hover {
      color: rgb(0, 115, 255);
    }
    
    .green-button {
      background-color: rgb(0, 173, 0) !important;
      font-weight: bold;
      padding: 15px;
      color: white;
      border: none;
    }
  
    .create-button {
      background-color: rgb(30, 30, 255) !important;
      font-weight: bold;
      padding: 15px;
      color: white;
      border: none;
    }
    
    .ticket-button a {
      color: white;
      text-decoration: none;
    }
    
    .header-jumbotron {
      background-color: #222222;
      color: white;
      margin-bottom: 20px;
      padding: 2rem 1rem;
    }
    
  .custom-card {
    padding: 20px;
  }

  .custom-card img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}

  .sold-out-button {
    background-color: #555555;
    color: white;
    font-weight: bold;
    cursor: not-allowed;
  }
    
  .bold-text {
    font-weight: bold;
  }
  
  .register-button {
    background-color: grey;
    color: white;
    font-weight: bold;
  }
  
  .register-button:hover {
    background-color: blue;
    color: white;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .info-heading {
    margin-bottom: 30px;
  }
  
  .view-ticket-button {
    background-color: rgb(20, 199, 0);
    color: white;
  }
  
  .view-ticket-button:hover {
    background-color: rgb(18, 176, 0);
    color: white;
  }
  
  .remove-button {
    background-color: rgb(200, 0, 0);
    color: white;
  }
  
  .remove-button:hover {
    background-color: rgb(151, 0, 0);
    color: white;
  }
  
  .hr {
    padding: 10px;
  }

  .custom-dropdown-button {
    background-color: white;
    color: black;
    border: none;
  }
  
/* sort image */
  .image-container {
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border: px solid white;
    width: 100%; 

    transform-origin: center; /* Ensures the scaling is centered */
    object-fit: cover; 
  }
  
  /* Add styling for the dropdown box */
  .select-box {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 8px;
    width: 150px; 
    font-size: 16px;
    color: #333333;
  }
  
  /* Style the dropdown arrow icon */
  .select-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333333;
  }
  
  /* Style the selected option in the dropdown */
  .select-box option[selected] {
    background-color: #eeeeee;
    font-weight: bold;
  }
  
  /* Style the dropdown on hover or focus */
  .select-box:hover, .select-box:focus {
    border-color: #0073ff;
    box-shadow: 0 0 5px rgba(0, 115, 255, 0.5);
  }

  
  .card-title {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  
  .event-card {
    border: 3px solid #ececec05; 
    border-radius: 15px; 
    box-shadow: 0 0 15px rgba(253, 253, 253, 0.26); 
    background-color: rgba(253, 252, 252, 0.8); 
    margin-bottom: 20px; 
    color: rgb(5, 5, 5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 450px;
  }
  .event-card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }


  .event-card h3.card-title {
    height: 60px; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    min-height: 10px;
  }

  .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /
    -webkit-box-orient: vertical;
    overflow: clip;
    text-overflow: ellipsis;
    max-height: 4.5em; /
  }
  
  .event-image {
    border: px solid white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
  }

  .btn-info:hover, .btn-success:hover {
    opacity: 1;
    border: 3svh;
    
  }

  .event-card:hover {
    transform: scale(1.02);
    transition: transform .1s ease-in-out;
    box-shadow: 0 4px 4px rgba(255, 251, 251, 0.1);
  }

  /* Custom Button & Hover for Event Details Page */
  .custom-button {
    background-color: #f0f0f0;
    border: none;
    color: rgb(0, 0, 0);
    padding: 14px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    cursor: pointer; 
    border-radius: 10px;
    width: 100px;
  }

  .custom-button:hover {
      background-color: rgb(0, 45, 224); 
      color: rgb(255, 255, 255);
      border: none;
  }

  .ticket-button {
      background-color: #ffffff; 
      border: 2px solid #eeeeee;
      color: rgb(0, 0, 0); 
      /* padding: 15px 32px;  */
      text-align: center; 
      text-decoration: none;
      display: inline-block; 
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer; 
  }

  .no-ticket-button {
    background-color: #ffffff; 
    border: 2px solid #eeeeee;
    color: rgb(204, 6, 6); 
    /* padding: 15px 32px;  */
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
  }

  .no-ticket-button:hover {
    background-color: #db1515; /* White background on hover */
    color: rgb(255, 255, 255); /* Black text on hover */
    font-weight: bold;
    border: none;
  }

  
  .ticket-button:hover {
    background-color: #1e8321; /* White background on hover */
    color: rgb(255, 255, 255); /* Black text on hover */
    font-weight: bold;
    border: none;
  }

    .btn.btn-danger {
      background-color: #c20000;
      border: none;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      transition-duration: 0.2s;
      cursor: pointer; 
      border-radius: 10px;
      width: 100px;
  }
